* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;

    background-image: url('/image/Mario.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
}

/* Caixa principal */
.menu {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 300px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

/* Título */
.menu h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Inputs */
.menu input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.2s;
}

.menu input:focus {
    border-color: #4facfe;
    box-shadow: 0 0 5px rgba(79,172,254,0.5);
}

/* Botões */
.menu button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background: #4facfe;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.menu button:hover {
    background: #0077ff;
}

/* Botão secundário */
.menu button:last-child {
    background: #aaa;
}

.menu button:last-child:hover {
    background: #888;
}

/* RESPONSIVO */
@media (max-width: 400px) {
    .menu {
        width: 90%;
        padding: 20px;
    }
}