body {
    margin: 0;
    padding: 0;
    height: 100vh;

    background-image: url('/image/Mario.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
}

.menu {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 300px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}



h1 {
    margin-bottom: 30px;
}

button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #555;
}

@media (max-width: 600px) {
    .menu {
        width: 90%;
        padding: 20px;
    }

    body {
        padding:  10px;
        height: auto;
    }

   
}

#mensagem {
    margin-top: 10px;
    font-weight: bold;
}

.sucesso {
    color: green;
}

.erro {
    color: red;
}